<div id="modal">
  <div class="overlay"></div>
  <div class="container">
    <form id="form-add-news" action="/add_news" method="POST">
      <h2>Criar notícia</h2>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <div class="form-content">
        <textarea
          name="content"
          id=""
          cols="30"
          rows="10"
          placeholder="Escreva a noticia aqui."
          required
        ></textarea>
      </div>

      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit add">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
    <form id="form-delete-news" action="/delete_news" method="POST">
      <input type="hidden" id="news_id" name="news_id" value="" />
      <h2>Apagar notícia?</h2>
      <div class="form-content">
        <p class="dimmed"></p>
      </div>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit delete">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
    <form id="form-update-news" action="/update_news" method="POST">
      <h2>Alterar notícia</h2>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <div class="form-content">
        <textarea name="content" id="" cols="30" rows="10" required></textarea>
      </div>

      <input type="hidden" id="news_id" name="news_id" value="" />
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit add">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>

    <form id="form-add-hero" action="/add_banner" method="POST">
      <h2>Criar Banner</h2>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <div class="form-content">
        <div class="form-group">
          <label for="banner_image">Imagem</label>
          <input type="text" name="banner_image" id="banner_image" required />
        </div>
        <div class="form-group">
          <label for="banner_link">Link</label>
          <input type="text" name="banner_link" id="banner_link" required />
        </div>
        <div class="radio-group">
          <label class="form-control">
            <input type="radio" name="is_active" value="true" checked />
            Activo
          </label>

          <label class="form-control">
            <input type="radio" name="is_active" value="false" />
            Inativo
          </label>
        </div>
      </div>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit add">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
    <form id="form-delete-hero" action="/delete_banner" method="POST">
      <input type="hidden" id="banner_id" name="banner_id" value="" />
      <input type="hidden" id="banner_image" name="banner_image" value="" />
      <h2>Apagar banner?</h2>
      <div class="form-content">
        <img class="dimmed" />
      </div>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit delete">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
    <form id="form-update-hero" action="/update_banner" method="POST">
      <input type="hidden" id="banner_id" name="banner_id" value="" />
      <input type="hidden" id="is_active" value="" />
      <h2>Alterar Banner</h2>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <div class="form-content">
        <div class="form-group">
          <label for="banner_image">Imagem</label>
          <input type="text" name="banner_image" id="banner_image" required />
        </div>
        <div class="form-group">
          <label for="banner_link">Link</label>
          <input type="text" name="banner_link" id="banner_link" required />
        </div>
        <div class="radio-group">
          <label class="form-control">
            <input type="radio" name="is_active" id="active-banner" value="true" />
            Activo
          </label>

          <label class="form-control">
            <input type="radio" name="is_active" id="inactive-banner" value="false" />
            Inativo
          </label>
        </div>
      </div>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit add">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>

    <form id="form-add-event" action="/add_event" method="POST">
      <h2>Criar Evento</h2>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <div class="form-content">
        <div class="form-group">
          <label for="event_name">Nome</label>
          <input type="text" name="event_name" id="event_name" required />
        </div>
        <div class="form-group">
          <label for="event_link">Link</label>
          <input type="text" name="event_link" id="event_link" required />
        </div>
        <div class="radio-group">
          <label>Estado</label>
          <label class="form-control">
            <input type="radio" name="event_status" value="upcoming" checked />
            Upcoming
          </label>
          <label class="form-control">
            <input type="radio" name="event_status" value="completed" />
            Completed
          </label>
          <label class="form-control">
            <input type="radio" name="event_status" value="cancelled" />
            Cancelled
          </label>
        </div>

        <div class="radio-group">
          <label>Tipo</label>
          <label class="form-control">
            <input type="radio" name="event_type" value="demoparty" checked />
            Demoparty
          </label>
          <label class="form-control">
            <input type="radio" name="event_type" value="momentum" />
            Momentum
          </label>
        </div>
      </div>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
    <form id="form-delete-event" action="/delete_event" method="POST">
      <input type="hidden" id="event_id" name="event_id" value="" />
      <h2>Apagar evento?</h2>
      <div class="form-content">
        <p class="dimmed"></p>
      </div>
      <button class="close-button" aria-label="Close modal">
        <svg width="100%" height="100%" viewBox="0 0 64 64" fill="var(--color-a)">
          <path
            d="M39.035,24.966l-0,-24.966l-14.069,0l-0,24.966l-24.966,-0l0,14.069l24.966,-0l-0,24.965l14.069,0l-0,-24.965l24.965,-0l0,-14.069l-24.965,-0Z"
          />
        </svg>
      </button>
      <svg
        class="logo"
        width="50%"
        height="100%"
        viewBox="0 0 87 27"
        fill="var(--color-b)"
      >
        <path
          d="M86.831,8.464l-5.488,17.921l-3.276,-2.608l5.276,-17.666l3.488,2.353Zm-50.632,14.125c-4.858,1.859 -14.1,-0.912 -12.861,-8.071c0.119,-0.607 0.265,-1.17 0.435,-1.694c0.586,-1.832 1.499,-3.142 2.465,-4.174c4.035,-4.31 9.064,-2.458 9.609,-2.31c0.691,0.187 3.304,1.753 3.299,4.26c-0.029,-0.059 -0.736,-1.201 -2.162,-1.786l-0,0.002c-2.369,-0.877 -9.184,0.328 -9.397,7.092c-0.142,4.518 6.505,4.378 8.93,3.684c-0.048,0.591 -0.318,2.997 -0.318,2.997Zm24.679,0.288c-10.737,0.345 -16.62,-2.918 -17.926,-4.693c-0.155,-0.239 -0.302,-0.5 -0.084,-0.676c0.361,-0.326 3.678,-0.067 4.872,-0.312c1.186,0.873 1.925,1.406 5.506,1.926c1.288,1.499 5.221,3.438 7.632,3.755Zm13.151,-14.552c-11.531,-1.115 -26.508,10.813 -8.606,11.192c-1.758,1.658 -2.588,2.381 -3.757,3.36c-18.487,-5.408 -0.465,-17.671 8.988,-17.34c0.446,0.358 2.895,2.404 3.375,2.788Zm-68.12,14.213l-2.331,-0l1.942,-4.422l1.087,-0l-0.698,4.422Zm9.475,-16.752c0,0 -3.856,12.656 -4.278,14.021l-4.877,2.731l4.147,-14.032l5.008,-2.72Zm30.108,0l-4.257,14.008l-4.898,2.744l4.147,-14.032l5.008,-2.72Zm-40.931,-0.512l0.999,-3.062l4.441,-2.212l-1.587,5.786l-2.261,1.67c0,0 -0.687,-1.215 -1.018,-1.873c0.14,0.76 0.344,1.506 0.59,2.237l0.922,3.564l-3.389,11.154l-3.258,-2.728l2.989,-10.117l2.037,-1.344c0,0 0.657,1.253 0.954,1.939c-0.124,-0.773 -0.303,-1.563 -0.523,-2.315l-0.896,-2.699Zm20.575,0.512l-4.263,14.024l-4.893,2.728c0,-0 3.695,-12.152 4.147,-14.032l5.009,-2.72Zm48.99,2.747l-0.666,2.193l-2.39,1.535c-0.205,-0.656 -0.448,-1.302 -0.721,-1.934c0.108,0.711 0.256,1.417 0.441,2.111l0,0.002c0.127,0.473 1.068,3.557 1.068,3.557l-2.034,6.504l-3.213,-2.691l1.706,-5.767l1.937,-1.258c0.215,0.628 0.456,1.246 0.725,1.851c-0.122,-0.681 -0.258,-1.368 -0.44,-2.035l-0.855,-3.186l0.078,-0.343c0.75,-0.539 4.364,-0.539 4.364,-0.539Zm-58.465,13.845l-2.111,-6.724l1.994,-9.548l2.265,7.034l-2.148,9.238Zm64.438,-8.894l-8.82,7.732l1.129,-5.364l10.209,-9.065l-2.518,6.697Zm-40.993,-1.942c0.035,3.544 -4.362,8.385 -11.022,4.564c-0.148,-1.094 0.358,-2.529 0.88,-3.444c4.252,4.257 9.077,0.955 8.698,-2.865c0.631,0.413 1.236,0.913 1.444,1.745Zm14.966,-2.543c0,0.575 -0.115,4.297 -0.119,4.439c-0.019,0.531 -0.261,0.976 -0.662,1.35c-0.71,0.67 -1.925,1.122 -3.308,1.446c-0.001,0.002 -0.005,0.002 -0.007,0.002c-3.489,0.72 -6.931,0.163 -7.15,0.795c0.171,-0.494 0.513,-1.881 0.853,-2.759c0.341,-0.861 9.324,0.178 10.393,-5.273Zm-30.607,3.57c0.033,-0.1 1.996,-5.549 1.996,-5.549c0.129,0.475 0.324,0.763 0.457,1.031c-1.194,1.213 -2.198,3.969 -2.453,4.518Zm29.538,-2.262c-0.507,-1.881 -3.769,-1.584 -7.978,-0.728c0.304,-1.344 0.745,-3.794 0.745,-3.794c4.307,0.11 6.464,0.668 7.569,1.545c-0,-0 0.001,-0 0.001,0.002c0.956,0.907 0.368,2.108 -0.337,2.975Z"
        />
      </svg>
      <button type="submit" aria-label="Submit delete">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 64 56"
          version="1.1"
          fill="var(--color-a)"
        >
          <path
            d="M18.851,35.249l-8.952,-8.951l-9.899,9.899l18.851,18.851l45.149,-45.149l-9.899,-9.899l-35.25,35.249Z"
          />
        </svg>
      </button>
    </form>
  </div>
</div>
