<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inercia website" />
    <title>Inércia</title>

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="about.css" />
    <script type="module" src="about.js"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs'); -%>
    <section id="about">
      <h2>ACERCA</h2>
      <p>
        A Inércia é uma associação sem fins lucrativos cujo objectivo é dar a conhecer a
        <a href="https://pt.wikipedia.org/wiki/Demoscene">Demoscene</a> em Portugal
        através da divulgação e preservação. Para isso, organizamos eventos como a
        <a href="https://2022.inercia.pt/">Inércia Demoparty</a> e encetamos esforços para
        que a Demoscene seja reconhecida pela UNESCO como Património Cultural Imaterial da
        Humanidade.
        <br />
        <br />
        Originalmente criada em 2002, a Inércia foi registada de novo em 2022 por
        demosceners e entusiastas com mais de 20 anos de experiência a organizar as
        chamadas "<a href="https://pt.wikipedia.org/wiki/Demoparty">Demo Parties</a>", os
        eventos da Demoscene mais comuns. Como propósitos, a associação pretende melhorar
        o acesso ao financiamento e suporte logístico desses eventos, divulgar e aumentar
        a comunidade da Demoscene, angariar novos membros comprometidos com os valores e
        ideias da Inércia, sejam eles parte da estrutura da associação ou simplesmente
        como artistas participantes nos nossos eventos.
        <br />
        <br />
        Se te identificas com estes objectivos, torna-te associado da Inércia preenchendo
        este

        <a href="./register.html" target="_blank" rel="noopener noreferrer"
          >formulário de inscrição</a
        >. Também aceitamos donativos, contacta-nos para nos ajudar a alcançar os nossos
        objectivos.
      </p>
    </section>

    <section id="art-of-code">
      <h2>“ART OF CODING”</h2>
      <h3>Manifesto</h3>
      <p>
        <cite>
          “A Demoscene, que nasce no coração da revolução do computador doméstico, mostra
          como as habilidades e a criatividade podem ser estimuladas e implementadas em
          uma prática cultural dinâmica adoptada em contextos digitais. Muitas de suas
          técnicas e mentalidades tornaram-se técnicas e influências centrais da mudança
          digital e ainda ecoam nos dias de hoje. Sete décadas após a invenção dos
          computadores, achamos que é hora de dar o próximo passo para levar a sério esta
          cultura nascida digitalmente como parte do nosso património cultural, encetando
          uma iniciativa para levar a Demoscene para a lista do Património Cultural
          Imaterial da Humanidade da UNESCO. Por isso, convidamos todos os sceners e
          não-sceners a juntarem-se a nós e apoiarem a iniciativa nos próximos
          anos.”</cite
        >
        <br />
        <br />
        Andreas Lange & Tobias Kopka, criadores da campanha “Art of Coding”, Abril de 2019
        <a href="http://demoscene-the-art-of-coding.net/"
          >http://demoscene-the-art-of-coding.net/</a
        >
      </p>
      <h3 class="upper-margin">O papel da Inercia</h3>
      <p>
        Após o avanço bem-sucedido na Finlândia, Alemanha e Polónia, onde a Demoscene foi
        aceite nas suas listas nacionais de patrimônio cultural da UNESCO, são necessários
        mais países para elevar o estatuto a património cultural imaterial da humanidade.
        Em Portugal, existe uma longa lista de artes e ofícios tradicionais que concorrem
        entre si para serem aceites na lista do património cultural nacional. O nosso
        objectivo é compilar e enviar um pedido à delegação nacional da UNESCO para que
        possamos trabalhar com os nossos afiliados em todo o mundo e dar à Demoscene o
        estatuto de património cultural global.
      </p>
    </section>

    <section>
      <h2>ORGÃOS SOCIAIS</h2>
      <div id="orga">
        <div id="orga-a" class="orga-item">
          <h3>Direcção</h3>
          <ul>
            <li>Filipe "ps" Cruz <span> Presidente</span></li>
            <li>Jorge "jeenio" Silva <span> Tesoureiro</span></li>
            <li>Hugo "alien" Lino <span> Secretário</span></li>
          </ul>
        </div>
        <div id="orga-b" class="orga-item">
          <h3>Assembleia Geral</h3>
          <ul>
            <li>Jaerder "jae686" Sousa <span>Presidente</span></li>
            <li>João "anticore" Faria <span>Secretário</span></li>
            <li>Rui Orey <span>Secretário</span></li>
          </ul>
        </div>
        <div id="orga-c" class="orga-item">
          <h3>Conselho Fiscal</h3>
          <ul>
            <li>Nelson "EviL" Tavares <span>Presidente</span></li>
            <li>Luís "zeroshift" Loureiro <span>Secretário</span></li>
            <li>Pedro "garfield" Cardoso <span>Secretário</span></li>
          </ul>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs'); -%>
  </body>
</html>
